.custom-file + button {
    vertical-align: top;
}

.custom-file-name:after {
    content: attr(data-content) !important;
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    height: 100%;
    overflow: hidden;
    padding: 0.5rem 1rem;
}
